.vscode/**
typings/**
out/test/**
test/**
src/**
embedded/**
preview/**
media/**
scss/**
**/*.map
.gitignore
.editorconfig
.jsbeautifyrc
tsconfig.json
tslint.json
vsc-extension-quickstart.md
